### Test Accuracy 99.457% (highest)

In [1]:
import pandas as pd

In [2]:
cnn1 = pd.read_csv('./test_resultCNN.csv')

In [3]:
cnn2 = pd.read_csv('./test_resultCNN2.csv')

In [4]:
imgAugCnn1 = pd.read_csv('./test_resultCNNImageAugmentation.csv')

In [5]:
imgAugCnn2 = pd.read_csv('./test_resultCNNImageAugmentation2.csv')

In [6]:
nn = pd.read_csv('./test_resultNN.csv')

In [7]:
df = cnn1.merge(cnn2, how='inner', on='ImageId', suffixes=('1','2'))

In [8]:
df = df.merge(cnn2, how='inner', on='ImageId')

In [9]:
df = df.merge(imgAugCnn1, how='inner', on='ImageId', suffixes=('3','4'))

In [10]:
df = df.merge(imgAugCnn2, how='inner', on='ImageId')

In [11]:
df = df.merge(nn, how='inner', on='ImageId', suffixes=('5','6'))

In [12]:
df.head()

   ImageId  Label1  Label2  Label3  Label4  Label5  Label6
0        1       2       2       2       2       2       2
1        2       0       0       0       0       0       0
2        3       9       9       9       9       9       9
3        4       9       0       0       0       0       9
4        5       3       3       3       3       3       3

In [13]:
def foo(count):
    maxim = 0
    val = -1
    equalFound = False
    for k in count:
        if maxim == count[k]:
            equalFound = True
        if count[k] > maxim:
            maxim = count[k]
            val = k 
            equalFound = False
    return val, equalFound

In [14]:
pred = [] 
idx = []
from collections import Counter
for i in range(df.shape[0]):
    c = Counter(df.iloc[i][['Label1', 'Label2', 'Label3', 'Label4', 'Label5', 'Label6' ]])
    v, eq = foo(c)
    if eq:
        pred.append(df.iloc[i]['Label5'])  #giving weightage to fifth model
    else:
        pred.append(v)
    idx.append(df.iloc[i]['ImageId'])

In [15]:
res = pd.DataFrame()
res['ImageId'] = idx
res['Label'] = pred
res[['ImageId', 'Label']].to_csv('ensemble.csv', index=False)

In [16]:
res.head()

   ImageId  Label
0        1      2
1        2      0
2        3      9
3        4      0
4        5      3

In [17]:
imgAugCnn2.equals(res)

False

In [18]:
res[(res['Label'] != imgAugCnn2['Label'])]

       ImageId  Label
59          60      0
128        129      8
844        845      8
897        898      4
1150      1151      0
1235      1236      1
1331      1332      6
1406      1407      7
2087      2088      3
2313      2314      7
2409      2410      9
2579      2580      1
2584      2585      7
2617      2618      1
2646      2647      8
2728      2729      1
3295      3296      2
3526      3527      2
3816      3817      2
3870      3871      7
4275      4276      0
4535      4536      0
4630      4631      7
4774      4775      8
4806      4807      4
5073      5074      4
5237      5238      2
5784      5785      9
5966      5967      0
6212      6213      9
...        ...    ...
22903    22904      7
22973    22974      7
23276    23277      1
23744    23745      9
23798    23799      0
23848    23849      9
23873    23874      6
24001    24002      5
24245    24246      7
24476    24477      9
24623    24624      5
24971    24972      1
25103    25104      3
25135    25136      9
25216    25217      9
25272    25273      0
25527    25528      1
25952    25953      6
26013    26014      4
26085    26086      4
26137    26138      8
26292    26293      4
26571    26572      6
26783    26784      4
26825    26826      7
26950    26951      7
26974    26975      4
27318    27319      5
27511    27512      9
27593    27594      9

[171 rows x 2 columns]